<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <div class="container">
    <!-- Contenedor del mapa mejorado -->
    <div class="map-container" id="map-container">
      <div id="map"></div>
    </div>
    
    <div class="controls-container">
      <ion-item>
        <ion-label position="stacked">Latitud</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="latitude"
          min="-90"
          max="90"
          step="0.0001">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Longitud</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="longitude"
          min="-180"
          max="180"
          step="0.0001">
        </ion-input>
      </ion-item>
      
      <!-- Nuevos controles de fecha -->
      <ion-item>
        <ion-label position="stacked">Fecha inicial</ion-label>
        <ion-input
          type="datetime-local"
          [(ngModel)]="startDate">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Fecha final</ion-label>
        <ion-input
          type="datetime-local"
          [(ngModel)]="endDate">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Radio (aprox. {{radius * 111.12 | number:'1.0-0'}} km)</ion-label>
        <ion-range
          [(ngModel)]="radius"
          min="1"
          max="20"
          step="1"
          snaps="true">
        </ion-range>
      </ion-item>
      
      <ion-item>
        <ion-label>Límite de resultados</ion-label>
        <ion-range
          [(ngModel)]="limit"
          min="5"
          max="100"
          step="5"
          snaps="true">
        </ion-range>
      </ion-item>
      
      <ion-button expand="full" (click)="updateMap()">
        Buscar Terremotos
      </ion-button>
    </div>
    
    <div class="legend">
      <h4>Leyenda</h4>
      <div class="legend-item">
        <span class="color-box" style="background-color: #ff0000;"></span>
        <span>Superficial (&lt; 10km)</span>
      </div>
      <div class="legend-item">
        <span class="color-box" style="background-color: #ff9900;"></span>
        <span>Medio (10-50km)</span>
      </div>
      <div class="legend-item">
        <span class="color-box" style="background-color: #ffff00;"></span>
        <span>Profundo (50-100km)</span>
      </div>
      <div class="legend-item">
        <span class="color-box" style="background-color: #00ff00;"></span>
        <span>Muy profundo (100-300km)</span>
      </div>
      <div class="legend-item">
        <span class="color-box" style="background-color: #0000ff;"></span>
        <span>Extremadamente profundo (&gt; 300km)</span>
      </div>
      <p class="legend-note">El tamaño indica la magnitud del terremoto</p>
    </div>

    <!-- Componente de lista de terremotos -->
    <div class="earthquakes-list" *ngIf="earthquakeData && earthquakeData.length > 0">
      <h3>Terremotos Encontrados ({{ earthquakeData.length }})</h3>
      
      <ion-list>
        <ion-item *ngFor="let quake of earthquakeData" (click)="selectEarthquake(quake)" [class.selected-quake]="selectedQuake === quake">
          <ion-thumbnail slot="start" [ngStyle]="{'background-color': getDepthColor(quake.geometry.coordinates[2])}">
            <div class="magnitude">{{ quake.properties.mag.toFixed(1) }}</div>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ quake.properties.place || 'Ubicación no disponible' }}</h2>
            <p>
              <ion-icon name="calendar-outline"></ion-icon>
              {{ getFormattedDate(quake.properties.time) }}
            </p>
            <p>
              <ion-icon name="analytics-outline"></ion-icon>
              Profundidad: {{ quake.geometry.coordinates[2].toFixed(1) }} km
            </p>
            <p>
              <ion-icon name="location-outline"></ion-icon>
              {{ quake.geometry.coordinates[1].toFixed(4) }}, {{ quake.geometry.coordinates[0].toFixed(4) }}
            </p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    
    <div *ngIf="earthquakeData && earthquakeData.length === 0" class="no-results">
      <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      <p>No se encontraron terremotos en esta área y período de tiempo</p>
    </div>
  </div>
</ion-content>